<nav>
  <ul class="dropdown">
    <li class="menu">
      <a href="#">Monitor</a>
      <ul class="item">
        <li>
          <a href="">Item 1</a>
        </li>
        <li>
          <a href="">Item 2</a>
        </li>
        <li>
          <a href="">Item 3</a>
        </li>
      </ul>
    </li>
    <li class="menu">
      <a href="#">Computer</a>
      <ul class="item">
        <li>
          <a href="">Item 1</a>
        </li>
        <li>
          <a href="">Item 2</a>
        </li>
        <li>
          <a href="">Item 3</a>
        </li>
      </ul>
    </li>
    <li class="menu">
      <a href="#">Telefonia</a>
      <ul class="item">
        <li>
          <a href="">Item 1</a>
        </li>
        <li>
          <a href="">Item 2</a>
        </li>
        <li>
          <a href="">Item 3</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
